<body>
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./assets/Images/large2.png" class="rounded-circle" width="70px" height="50px" alt="">
        </a>
        <h1 class="threeD"><b><i>CarSpa<sub style="font-size:medium">You Drive.. You Save</sub></i></b></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login & SignUp</a>
                </li>
            </ul>
        </div>
    </nav>
    bdhavsfdshvfdshbfvdsjbfsjdbfvihxhcbvhjdbghdgbfrusgbrudfh
    gjbjtnWhat is a Use Case Diagram?
    A use case diagram is a dynamic or behavior diagram in UML. Use case diagrams model the functionality of a system using actors and use cases. Use cases are a set of actions, services, and functions that the system needs to perform. In this context, a "system" is something being developed or operated, such as a web site. The "actors" are people or entities operating under defined roles within the system.
    
    Why Make Use Case Diagrams?
    Use case diagrams are valuable for visualizing the functional requirements of a system that will translate into design choices and development priorities.
    
    They also help identify any internal or external factors that may influence the system and should be taken into consideration.
    
    They provide a good high level analysis from outside the system. Use case diagrams specify how the system interacts with actors without worrying about the details of how that functionality is implemented.
    
    Basic Use Case Diagram Symbols and Notations
    System
    Draw your system's boundaries using a rectangle that contains use cases. Place actors outside the system's boundaries.
    
    System symbol - use case diagram
    Use Case
    Draw use cases using ovals. Label the ovals with verbs that represent the system's functions.
    
    Use case symbol - use case diagram
    Actors
    Actors are the users of a system. When one system is the actor of another system, label the actor system with the actor stereotype.
    <!-- <div class="row">
        <img src="./assets/Images/heading-bg.jpg" width="1470" height="380" style="margin-left: 15px;">
    </div> -->
    <router-outlet></router-outlet>
    </div>
</body>
